body {
    background-color: #1b1b1b;
    margin: 0px;
    padding: 0px;
    font-family: 'Neuton', sans-serif;
}

#main {
    background-image: linear-gradient(to bottom, transparent, #1b1b1b), url(./bg-mush-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#survey {
    background-color: white !important;
    border-radius: 10px;
    width: 30%;
    min-width: 15%;
    height: 80%;
    margin: 20px 0 20px 40px;
    position: relative;
    align-items: left;
    padding: 5px;
}

#survey h1 {
    font-size: 20px;
    text-align: center;
    color: #00000f;
}

#survey-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    color: grey;
    font-size: 14px;
    font-weight: 400;
}

#name-email {
    display: flex;
    flex-direction: row;
    justify-content: left space-evenly;
}


#age-country {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: left space-evenly;
    margin: 0px 0 0px 0;
    gap: 10px 35px;
    align-items: start;
}

#mush-choice {
    display: block;
    margin: 10px 0 10px 0;
}

#cook-choice {
    display: block;
    margin: 10px 0 10px 0;
}

#submit {
    display: flex-end;
    justify-content: right;
    align-items: right;
    margin: 10px 0 10px 0;
}

#submit input[type="submit"] {
    background-color: #00000f;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
}
