* {
    margin: 0px;
    border-radius: 10px;
}

body {
    background-color: black;
    font-family: Source Serif Pro, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    border-radius: 10px;
}

#main {
    background-color: black;
    margin: 0px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    height: 100dvh;
/*     height: 100%; */
/*     min-height: 100vh;
    min-height: 100dvh; */
    border: 2px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 3rem;
    box-sizing: border-box;
/*     overflow: hidden; */
    color: #333333;
/*     justify-self: center; */
/*     align-content: center; */
}

#gameboard {
    background-color: brown;
/*     padding: 0.1rem; */
    margin-bottom: 0px;
    flex: 7;
    max-width: 100%;
/*     max-height: calc(100dvh - 40px); */
    height: 100vh;
    height: 100dvh;
    height: 100%;
    max-width: auto;
    max-height: 100%;
    border: 2px solid red;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-right: 1.4rem;
    box-sizing: border-box;
}

#boardOutside {
    background-color: yellow;
    border: 2px solid cyan;
/*     min-width: 5%;
    min-height: 5%; */
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 5% auto 5%;
    justify-self: center;
    align-self: center;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.boardLeftGrid {
    background-color: green;
}

.boardCenterGrid {
    background-color: green;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    justify-self: center;
    align-items: center;
}

.boardRightGrid {
    background-color: green;
}

.boardMidGrid {
    display: grid;
    grid-template-rows: repeat(8, 12.5%);
    justify-items: center;
    align-items: center;
}

.midGridLetter {
    color: white;
    align-items: center;
    font-size: 100%;
}

#boardInside {
    background-color: yellow;
    border: 2px solid green;
    border-radius: 0px;
    width: 100%;
    height: auto;
/*     max-width: 200%;
    max-height: 200%; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1/1;
    justify-self: center;
    align-self: center;
/*     z-index: 1; */
}

#boardInside div {
/*     min-height: 5vw;
    min-width: 5vw; */
    height: 100%;
    width: 100%;
/*     max-height: 100%;
    max-width: 100%; */
    border-radius: 0px;
    justify-content: center;
    align-items: center;
/*     aspect-ratio: 1/1; */
}

.whiteSquare {
    background-color: white;
}

.blackSquare {
    background-color: black;
}

#chatbox {
    background-color: orange;
    padding: 1.5rem;
    flex: 3;
    max-width: 100%;
    max-height: calc(100dvh - 40px);
/*     min-width: 20%;
    min-height: 20%; */
    max-height: 100%;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
/*     box-sizing: border-box; */
    font-size: 1rem;
}

#header h1 {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    #gameboard #chatbox{
        flex: 100%
    }
    #chatbox {
        font-size: 3vw;
        flex: 20vh;
        flex: 20dvh;
        margin-bottom: 20rem;
    }
  }



