* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

body {
    background-color: black;
    font-family: Source Serif Pro, serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    border-radius: 10px;
}

#main {
    background-color: black;
    margin: 0;
    padding: 2rem;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    height: 100dvh;
/*     height: 100%; */
/*     min-height: 100vh;
    min-height: 100dvh; */
    border: 2px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    gap: 2rem;
    box-sizing: border-box;
/*     overflow: hidden; */
    color: #333333;
    justify-content: space-between;
    align-self: center;
}

#gameboard {
    background-color: brown;
    border: 2px solid red;
    flex: 0 0 60%;
    margin: 0 1rem;
    padding: 0 2rem;
    max-width: 70%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
/*     position: relative; */
}

#boardInside {
    background-color: purple;
    border: 2px solid cyan;
/*     width: calc(100vmin - 4px); 
    height: calc(100vmin - 4px); */
    width: 100%;
    max-width: 90vmin;
/*     height: 90vmin; */
/*     max-height: 90vmin; */
    padding: 0;
    margin: 0;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: 2.5% repeat(8, 1fr) 2.5%;
    grid-template-rows: 2.5% repeat(8, 1fr) 2.5%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#boardInside div {
/*  min-height: 5vw;
    min-width: 5vw; */
    height: 100%;
    width: 100%;
/*  max-height: 100%;
    max-width: 100%; */
    border-radius: 0px;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.boardCorner {
    background-color: grey;
}

.boardLeftGrid, 
.boardRightGrid {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
    color: white;
    text-align: center;
}

.boardCenterGrid {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
    color: white;
    text-align: center;
}

.whiteSquare {
    background-color: white;
    color: #333333;
}

.blackSquare {
    background-color: black;
}

#chatbox {
    background-color: orange;
    padding: 1.5rem;
    flex: 0 0 30%;
    max-width: 40%;
    /* max-height: calc(100dvh - 40px); */
/*     min-width: 20%;
    min-height: 20%; */
    max-height: 100%;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
/*     box-sizing: border-box; */
    font-size: 1rem;
    box-sizing: border-box;
}

#header h1 {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    #main {
        flex-wrap: wrap;
    }
    #gameboard, #chatbox{
        flex: 1 1 100%;
        max-width: 100%;
    }

/*     #boardinside {
        max-width: 90vw; */
/*     #chatbox {
        font-size: 3vw;
        flex: 20vh;
        flex: 20dvh;
        margin-bottom: 20rem;
    } */
  }



